<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Konfirmasi Pendaftaran</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Konfirmasi Pendaftaran Workshop</h1>
    Anda telah mendaftar untuk workshop :

    <ul>
        <li th:text="'Kode: ' + ${course.code}" />
        <li th:text="'Nama: ' + ${course.name}" />
    </ul>

    Silahkan periksa email Anda untuk mendapatkan informasi pembayaran.
</div>
</body>
</html>
