<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Workshop</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Daftar Workshop</h1>

    <table>
        <thead>
        <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="m : ${courses}">
            <td th:text="${m.code}">M-001</td>
            <td th:text="${m.name}">Materi 001</td>
            <td th:text="${m.price}">Rp. 100000</td>
            <td>
                <a th:href="@{enroll(materi=${m.id})}">daftar</a>
            </td>
        </tr>

        </tbody>
    </table>



</div>
</body>
</html>
